{% extends 'base.html.twig' %}

{% block title %} Edit page {% endblock %}
{% block body %}

    <form action="{{ path('app_do_edit',{isFirst:false}) }}" method="POST" enctype="multipart/form-data">
        {% if userProfile %}
            <button id="btnFile" type="button">
                {% if image == null %}
                    <img src="../../assets/images/no-user.jpg" alt="no user image" height="250" width="238">
                {% else %}
                    <img src="../../public/static/images/{{ image.getPath() }}" alt="user profile image" height="250"
                         width="238">
                {% endif %}
            </button>
            <input type="file" id="fileUpload" name="image" accept=".jpg,.png,.jpeg" hidden>
            <label for="first_name">First Name</label>
            <input name="first_name" id="first_name" type="text" value="{{ userProfile.FirstName }}">
            <label for="last_name">Last Name</label>
            <input name="last_name" id="last_name" type="text" value="{{ userProfile.LastName }}">
            <label for="country">Country</label>
            <input name="country" id="country" type="text" value="{{ userProfile.Country }}">
            <label for="city">City</label>
            <input name="city" id="city" type="text" value="{{ userProfile.City }}">
            <label for="hobby">Hobby</label>
            <input name="hobby" id="hobby" type="text" value="{{ userProfile.Hobby }}">
            <label for="birthdate">Birthdate</label>
            <input name="birthdate" id="birthdate" type="text" value="{{ userProfile.Birthdate }}">
            <label for="workplace">Workplace</label>
            <input name="workplace" id="workplace" type="text" value="{{ userProfile.Workplace }}">
            <label for="studies">Studies</label>
            <input name="studies" id="studies" type="text" value="{{ userProfile.Studies }}">
            <button type="button">Submit</button>
        {% endif %}
        <h1>nu este</h1>
    </form>
{% endblock %}